extends ../layout.pug
include ../mixins/post.pug

block head
	title Frequently Asked Questions

block content
	h1.board-title FAQ
	include ../includes/stickynav.pug
	.table-container.flex-center.mv-5
		.anchor
		table
			tr
				th Frequently Asked Questions
			tr
				td.post-message
					b Marzichan
					ul.mv-0
						li: a(href='#what-is-marzipan') What is marzipan?
						li: a(href='#what-is-marzichan') What is Marzichan?
						li: a(href='#why-few-boards') Why doesn't Marzichan have more boards?
						li: a(href='#questions') The FAQ doesn't answer my question.
						li: a(href='#contact') How can I contact the admin?
					b Browsing the site
					ul.mv-0
						li: a(href='#browse-threads') How can I browse through the different threads on a board?
						li: a(href='#notifications') How can I get notified about new posts?
						li: a(href='#dark') How do I use dark mode?
						li: a(href='#reports') How do I report a post that breaks the rules?
						li: a(href='#settings-menu') How do I change my settings?
					b Posting
					ul.mv-0
						li: a(href='#posting') How do I post?
						li: a(href='#no-bump') What does "no-bump" do? What does the arrow icon on a post mean?
						li: a(href='#post-formatting') How do I format my post?
						li: a(href='#filetypes') What types of files are allowed?
						li: a(href='#oekaki') How does the "oekaki" feature work?
						li: a(href='#name-formatting') What's a tripcode? How do I use one?
						li: a(href='#delete-post') How can I delete a post I made?
	.table-container.flex-center.mv-5
		.anchor#what-is-marzipan
		table
			tr
				th: a(href='#what-is-marzipan') What is marzipan?
			tr
				td
					p
						| Marzipan is a confection made of ground almonds and sugar.
						br
						| It also constitutes the majority of the mass of Earth's moon.
	.table-container.flex-center.mv-5
		.anchor#what-is-marzichan
		table
			tr
				th: a(href='#what-is-marzichan') What is Marzichan?
			tr
				td
					p You're looking at it right now, aren't you? ( ›ω･)
					p With a simple layout and a relatively minimal set of boards and features, Marzichan is meant to get back to the root of what makes imageboards fun.
					p
						| The site was launched on August 19th, 2023, but was not publicized and consequently received almost no activity until November 2024, when people started finding it via a listing someone had added to 
						a(href="https://imageboards.net") imageboards.net
						| .
					p
						| Marzichan's mission is to create a space that is fun, creative, friendly, uplifting, and collaborative.
						br
						| This could include content like:
					ul
						li Original art of any variety (illustration, writing, photography, etc.)
						li Nonsensical funposting
						li Discussion threads about your interests or ideas
						li Group activity/event threads
						li Sharing of media you think is interesting, cool, cute, etc.
						li Advice/vent/support threads
					p But part of the fun is that Marzichan has no designated topic! As long as it fits within the general spirit of the site (and its rules), we encourage you to post and see where things go. Marzichan is funpost friendly, so your thread doesn't need to be detailed or carefully composed like on a typical forum (｡･ω･)b
					p Marzichan also rejects certain negative aspects of imageboard culture that are common on many other sites: namely, hateful reactionary politics and a general tendency towards dismissive bad-faith antagonism.
					p In line with this, our rules explicitly prohibit things like bigotry and casual use of slurs. This isn't just an issue of "post quality"; these ideas and conduct are not compatible with the site's ideals, even though they may be common on other imageboards.
					p If that sounds objectionable, you may prefer a different site. Conversely, if you have been bothered in the past by the things alluded to above, I hope that you can have fun here! :)
	.table-container.flex-center.mv-5
		.anchor#why-few-boards
		table
			tr
				th: a(href='#why-few-boards') Why doesn't Marzichan have more boards?
			tr
				td
					p
						| In order to discourage community fragmentation and keep the site feeling lively, Marzichan is starting with just two boards: a general/random board (
						a(href='/plaza/') /plaza/
						| ) and a board for discussing the site itself (
						a(href='/meta/') /meta/
						| ). If the site gets enough activity, it could potentially expand to include more boards.
						br
						br
						| If a given topic gets enough posts that you think it would be a good candidate for its own board, or if you have another reason you think a new board would be beneficial, you’re welcome to make a suggestion thread on 
						a(href='/meta/') /meta/
						| . However, please keep in mind that we consider the unity gained from having everyone post together to be an important benefit.
	.table-container.flex-center.mv-5
		.anchor#questions
		table
			tr
				th: a(href='#questions') The FAQ doesn't answer my question.
			tr
				td
					p
						| No worries! Just make a post over on 
						a(href='/meta/') /meta/
						|  and we'll try to answer.
	.table-container.flex-center.mv-5
		.anchor#contact
		table
			tr
				th: a(href='#contact') How can I contact the admin?
			tr
				td
					p
						| Most of the time, you'll want to make a post on 
						a(href='/meta/') /meta/
						| !
						br
						| Private inquiries can be sent to 
						a(href='mailto:marzisoft.dev@gmail.com') marzisoft.dev@gmail.com
						| .
	.table-container.flex-center.mv-5
		.anchor#browse-threads
		table
			tr
				th: a(href='#browse-threads') How can I browse through the different threads on a board?
			tr
				td
					p There are two ways: the index, and the catalog.
					b Index
					p The index lets you go through the board page-by-page, from the most recent replies to the least. Each page shows the OP (original post) and its last couple replies for a few threads. This is a fun way to check out recent activity on the board!
					b Catalog
					p The catalog lets you see the OP for every thread on the board, all on a single page. You can sort by different criteria, and easily search the OP text. This is a great way to get a quick view of all the content on the board, find threads that haven't gotten a reply in a while, or check if a thread already exists for a given topic!
	.table-container.flex-center.mv-5
		.anchor#notifications
		table
			tr
				th: a(href='#notifications') How can I get notified about new posts?
			tr
				td
					p There are two features for this!
					b System Notifications
					p
						| To get alerted to new posts in threads that you actively have open in your browser, you can use system notifications. You can enable these in the 
						a(href='#settings-menu') settings menu
						| , by checking the box for "Notifications". Make sure to allow notifications when your browser asks you!
					p
						| This will give you a desktop/push notification whenever someone posts in a thread you have open, or, if you check the "Only notify (You)s" option, only when someone replies to you directly.
					b Thread Watcher
					p
						| To keep track of threads while you're not actively using the site, you can use the thread watcher. To watch a thread, click the triangle in the upper-right corner of its OP and click "Watch". This will bring up the thread watcher and add the thread.
					p The watcher periodically checks for new posts on each of your watched threads, no matter where you are on the site! This way, when you visit the site, you can quickly catch up on all the new posts that may have been made in the threads you care about.
					p
						| If you want to hide the thread watcher completely for a while, you can disable it from the 
						a(href='#settings-menu') settings menu
						| .
	.table-container.flex-center.mv-5
		.anchor#dark
		table
			tr
				th: a(href='#dark') How do I use dark mode?
			tr
				td
					p
						| You can change themes in the 
						a(href='#settings-menu') settings menu
						| .
						br
						| Marzichan's dark theme is called "midnight-moon". Enjoy! :)
	.table-container.flex-center.mv-5
		.anchor#reports
		table
			tr
				th: a(href='#reports') How do I report a post that breaks the rules?
			tr
				td
					p
						| We depend on users like you! Please help keep Marzichan safe and fun by reporting a post if you think it may be in violation of the 
						a(href='/rules.html') site rules
						| .
						p To report a post, click the triangle in its upper-right corner and click "Moderate". Then, check the "Global Report" box, enter a reason, and click "Submit".
						p You also have the option of reporting multiple posts at once by selecting them via their upper-left checkbox, then using the "Post Actions" menu at the bottom of the page.
	.table-container.flex-center.mv-5
		.anchor#settings-menu
		table
			tr
				th: a(href='#settings-menu') How do I change my settings?
			tr
				td
					p There are a bunch of settings you can change to adjust your browsing experience - the site's color scheme, how timestamps are formatted, how media is displayed, and more.
					p All of this is located in the settings menu, which you can always access via the [Settings] button (shown as [≡] on mobile), which is on the far right-hand side of the navbar, at the top of the page.
	.table-container.flex-center.mv-5
		.anchor#posting
		table
			tr
				th: a(href='#posting') How do I post?
			tr
				td
					p To make a new thread, just click the [New Thread] button at the top of the index or catalog!
					p
						| To reply to an existing thread, click the [New Reply] button at the top or bottom of the thread page.
						br
						| You can also open the reply form by clicking on an existing post's number. This will open the form if it isn't open already, then insert a link to the post you clicked.
	.table-container.flex-center.mv-5
		.anchor#no-bump
		table
			tr
				th: a(href='#no-bump') What does "no-bump" do? What does the arrow icon on a post mean?
			tr
				td
					p
						| If you check the no-bump box when replying, your post won't bump the thread to the top of the board. Posts made with no-bump will display a small down-arrow icon in the upper-left corner.
						br
						| This is useful if you're feeling shy and don't want to draw too much attention to your post.
					p Try to use no-bump sparingly - Marzichan thrives when we all share the fun!
	.table-container.flex-center.mv-5
		.anchor#post-formatting
		table
			tr
				th(colspan=2): a(href='#post-formatting') How do I format my post?
			tr
				td(colspan=2)
					p Marzichan offers many options for formatting the text in your post:
			tr
				th Input
				th Output
			tr
				td &gt;greentext
				td
					span.greentext &gt;greentext
			tr
				td **italic**
				td
					span.em italic
			tr
				td ***bold***
				td
					span.bold bold
			tr
				td __underline__
				td
					span.underline underline
			tr
				td ~~strikethrough~~
				td
					span.strike strikethrough
			tr
				td ||spoiler text||
				td
					span.spoiler spoiler text
			tr
				td ##title##
				td
					span.title title
			tr
				td
					| ##fortune
				td
					span.fortune Something fortuitous..?
					|  One per post.
			tr
				td &gt;&gt;123
				td: a(class="quote" href="#!") &gt;&gt;123
			tr
				td &gt;&gt;&gt;/meta/
				td: a(class="quote" href="#!") &gt;&gt;&gt;/meta/
			tr
				td &gt;&gt;&gt;/meta/123
				td: a(class="quote" href="#!") &gt;&gt;&gt;/meta/123
			tr
				td https://example.com
				td: a(href='#!') https://example.com
			tr
				td ``inline monospace``
				td
					span.mono inline monospace
			tr
				td
					| ```language
					br
					| int main() {...}
					br
					| ```
				td
					span.code int main() {...}
			tr
				td
					pre
						| ```aa
						| Let's posting fun
						| with Shift JIS art!
						| 　　　　∧＿∧
						| 　　　 （´∀｀　）
						| 　 ＿|￣￣||＿）＿
						| ／旦|――||/／ ／|
						| |￣￣￣￣￣|￣| . |
						| |＿＿＿＿＿|三|／
						| ```
				td
					pre.aa
						| Let's posting fun
						| with Shift JIS art!
						| 　　　　∧＿∧
						| 　　　 （´∀｀　）
						| 　 ＿|￣￣||＿）＿
						| ／旦|――||/／ ／|
						| |￣￣￣￣￣|￣| . |
						| |＿＿＿＿＿|三|／
			tr
				td(colspan=2)
					p
						| The multiline code tags (```) support 
						a(rel='nofollow' referrerpolicy='same-origin' target='_blank' href='https://github.com/highlightjs/highlight.js/blob/master/SUPPORTED_LANGUAGES.md') many different languages
						| . 
						br
						| Some languages can be auto-detected if no language is specified, including: #{codeLanguages.join(', ')}.
					p If you enter "plain" as the language, or enter a language that isn't supported, highlighting will be disabled. The same thing will happen if you don't specify a language and it can't be automatically deduced.
					p You can enter "aa" as the language to get a Shift JIS art-friendly font, as seen above.
					p Please note that the closing tag for multiline code tags (```) must be on its own line!
	.table-container.flex-center.mv-5
		.anchor#filetypes
		table
			tr
				th: a(href='#filetypes') What types of files are allowed?
			tr
				td
					p You can upload any of these filetypes:
					p
						b Images
					ul.mt-1.mb-10
						li .webp
						li .png
						li .jpg
						li .gif
						li .apng
						li .bmp
					p
						b Video
					ul.mt-1.mb-10
						li .webm
						li .mkv
						li .mp4
						li .mov
						li .mpg
					p
						b Audio
					ul.mt-1.mb-10
						li .ogg
						li .flac
						li .wav
						li .mp3
					p
						b Other
					ul.mt-1
						li .txt
						li .pdf
						li .tgkr
					p Exif data for applicable filetypes (.jpg, .png, .wav, .webp) will be automatically removed when uploaded.
					p Additionally, embeds are supported for these sites:
					ul
						li YouTube
					p To embed, just include a link anywhere in your post!
	.table-container.flex-center.mv-5
		.anchor#oekaki
		table
			tr
				th: a(href='#oekaki') How does the "oekaki" feature work?
			tr
				td
					p The oekaki section of the post form lets you create and share illustrations without any external tools. You can also let other users play back your illustration in real-time and see how you drew it!
					p To use it from the post form, simply check/uncheck the "Replayable?" checkbox based on your preference, and then click "Draw". When you're done, click "Finish", and your drawing and its replay file (if enabled) should be ready to upload!
					p
						| If you like, you can change the canvas size from the 
						a(href='#settings-menu') settings menu
						| . You might need to do this if you want to be able to use the feature on mobile, since large canvases won't fit on small screens.
					p To view the replay for a drawing that's been posted, click the [Replay] button beneath its filename.
	.table-container.flex-center.mv-5
		.anchor#name-formatting
		table
			tr
				th: a(href='#name-formatting') What's a tripcode? How do I use one?
			tr
				td.post-message
					p A tripcode is a way to uniquely identify yourself when posting by entering a secret passphrase.
					p There are two types of tripcodes, unsalted and salted. Unsalted tripcodes can be used across various sites, so you can have the same identifier on multiple imageboards. But unsalted tripcodes aren't very secure, so it's relatively easy for someone to crack your passphrase. Salted tripcodes are harder to crack, but are unique to each website.
					p
						| The most important thing to remember is that 
						b neither salted nor unsalted tripcodes are truly "secure"! 
						b.underline You must never, ever use sensitive info (like a real password which you use for other services) as a tripcode passphrase!!
					br
					b Usage
					p
						|You can use a tripcode by appending a passphrase to the end of the name field.
						br
						| The name (which can be omitted) and tripcode are separated by # for unsalted tripcodes, and ## for salted tripcodes.
					p For example: 
						input(disabled='true' spellcheck='false' type='text' value='Name#myunsaltedtripcode')
						|  or 
						input(disabled='true' spellcheck='false' type='text' value='Name##mysaltedtripcode')
					p
						b The first character of your passphrase must not be a space!
					p
						| When you post, a tripcode will be generated from your passphrase and shown next to your name.
						br
						| Unsalted tripcodes begin with !, and salted tripcodes begin with !!.
						br
						| For example, "Name##mysaltedtripcode" will end up looking like this on the post:
						-
							const examplePost = {
								"date" : new Date("2019-08-02T09:48:44.180Z"),
								"name" : "Name",
								"board" : "example",
								"tripcode" : "!!enXPVgEMc=",
								"capcode" : "",
								"message" : "Hello, world!",
								"nomarkup" : "Hello, world!",
								"thread" : 1,
								"password" : null,
								"email" : "",
								"spoiler" : false,
								"banmessage" : null,
								"files" : [ ],
								"reports" : [ ],
								"globalreports" : [ ],
								"quotes" : [ ],
								"backlinks" : [ ],
								"postId" : 123
							}	
						+post(examplePost)
	.table-container.flex-center.mv-5
		.anchor#delete-post
		table
			tr
				th: a(href='#delete-post') How can I edit or delete a post I made?
			tr
				td.post-message
					p If you click the triangle in the upper-right corner of a post, then click "Moderate", it'll bring up a menu where you can make certain changes to posts that you've made. You can't edit the text of your post, but you can remove or spoiler the file you uploaded, or delete the whole post.
					p To do any of these things, you'll need the same password you entered on the post form when you originally made the post, so if you switch devices a lot, you may want to make sure to use a custom password instead of the automatically generated one that's initially there.
					p If you'd like to modify or delete multiple posts at once, you can select several posts using the checkboxes in their upper-left corners, click the "Show Post Actions" button at the bottom of the page, and use that form instead.
