/* marzichan shared */
:root {
	--spoiler-img: url('/css/themes/assets/marzichan-spoiler.png');
	--attachment-img: url('/css/themes/assets/marzichan-attachment.png');
	--audio-img: url('/css/themes/assets/marzichan-attachment.png');
}

/* replace the ugly post menu with our own nicer one */
.postmenu {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	width: 1em;
	height: 1em;
	color: var(--font-color);
	border: none;
	background: 0 0;
	position: relative;
	top: 2px;
	font-size: 10pt;
	vertical-align: top;
	margin-left: 3px;
}
.postmenu-icon::after {
	content: "▶";
	margin-left: -1em;
	pointer-events: none;
}
@media only screen and (max-width: 600px) {
	.postmenu-icon {
		float: right;
		line-height: 1.2em;
	}
	.postmenu {
		float: none;
	}
}

/* make special-case thumbnails less HUGE */
.post-file-src .spoilerimg, .post-file-src .attachmentimg, .post-file-src .audioimg {
	max-width: 120px;
	max-height: 120px;
}
/* limit file info text to match */
.post-file-info.post-file-info-small {
	max-width: 160px;
}

/* same thing, but even smaller on mobile */
@media only screen and (max-width: 600px) {
	.post-file-src .spoilerimg, .post-file-src .attachmentimg, .post-file-src .audioimg {
		max-width: 100px;
		max-height: 100px;
	}
	.post-file-info.post-file-info-small {
		max-width: 135px;
	}
}

.nav-item {
	line-height: 2em;
}

main {
    margin: 2em 0 0 0;
}

#postform, #threadwatcher {
	border: 1px solid var(--box-border-color);
	padding: 5px;
}

.modal, .floatactions[open] {
	border: 1px solid var(--box-border-color);
	padding: 5px;
}

#tegakiwindow {
	border: 1px solid var(--box-border-color);
}

/* don't cram the buttons into the edge of the window */
#tegakiwindow-dragHandle {
	width: auto;
	padding: 0 5px;
}

.floatactions[open] #action-menu {
	right: 5px;
}

/* box shadows */
#float .post-container, #livetext, #threadstats, .bottom-reply, .catalog-tile, .collapse, .pages, .post-container, .stickynav {
	box-shadow: 2px 2px var(--post-outline-color);
	--reply-divider-color: var(--post-outline-color);
}

.anchor:target + .catalog-tile, .anchor:target + .post-container, .anchor:target + table, .anchor:target + table tbody tr th, .post-container.highlighted, .post-container.hoverhighlighted {
	box-shadow: 2px 2px var(--highlighted-post-outline-color);
	--reply-divider-color: var(--highlighted-post-outline-color);
}

.post-container.op {
	box-shadow: none;
}

#postform, #threadwatcher, #tegakiwindow {
	box-shadow: 2px 2px var(--post-outline-color);
}

/* remove mobile post info divider */
@media only screen and (max-width: 600px) {
	.post-info {
		border-bottom: none;
	}

	.anchor:target + .post-container .post-info, .post-container.highlighted .post-info, .post-container.hoverhighlighted .post-info {
		border-bottom: none;
	}

	/* make edges of post form visible on mobile */
	#postform {
		width: 97%;
		margin: 0 1.5% 0 1.5%;
	}
}

/* add replies divider line, minimize indent */
.replies {
	border-top: 1px solid var(--reply-divider-color);
	margin-left: 0 !important;
}

body {
	font-family: "Inter", "M PLUS 1p", "Noto Emoji", "Noto Sans Symbols", sans-serif;
}

input, select, textarea {
	font-family: "Inter", "M PLUS 1p", "Noto Emoji", "Noto Sans Symbols", sans-serif;
}

/* replace cog with hamburger menu, to look nicer with fonts */
@media only screen and (max-width: 600px) {
	#settings::after {
		content: "[≡]"!important;
	}
}

/* fix thread watcher alignment with fonts */
.watched-thread {
	align-items: center;
}

/* less spindly (You)s */
.you::after {
	font-weight: normal;
}

.fortune {
	font-weight: 700;
}

/* don't hide cursor on spoilers, that's weird */
.spoiler {
	cursor: auto;
}

#tegakiwindow #minimise, #tegakiwindow #maximise, #tegakiwindow #close, #threadwatcher #minimise {
	color: var(--link-color);
}
