JSCHAN_IP=0.0.0.0
MONGO_USERNAME=jschan
MONGO_PASSWORD=changeme
MONGO_INITDB_ROOT_USERNAME=jschan
MONGO_INITDB_ROOT_PASSWORD=changeme
REDIS_PASSWORD=changeme
COOKIE_SECRET=changeme
TRIPCODE_SECRET=changeme
IP_HASH_SECRET=changeme
POST_PASSWORD_SECRET=changeme
GOOGLE_SITEKEY=changeme
GOOGLE_SECRETKEY=changeme
HCAPTCHA_SITEKEY=10000000-ffff-ffff-ffff-000000000001
HCAPTCHA_SECRETKEY=0x0000000000000000000000000000000000000000
NOTIFIER_USERNAME=changeme
NOTIFIER_PASSWORD=changeme
NOTIFIER_SITE_URL=changeme.com
NOTIFIER_RECENT_WEBHOOK=changeme
NOTIFIER_REPORTS_WEBHOOK=changeme
HTTP_USERNAME=changeme
HTTP_PASSWORD=changeme
NGINX_PASSWORDS=changeme
